name: Build Android APK

on:
  workflow_dispatch:
    inputs:
      build_type:
        description: '构建类型 (debug/release)'
        required: true
        default: 'release'
        type: choice
        options:
          - debug
          - release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show buildozer.spec content
        run: cat buildozer.spec

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            git zip unzip openjdk-17-jdk python3-pip \
            autoconf libtool pkg-config zlib1g-dev \
            libncurses5-dev libncursesw5-dev \
            cmake libffi-dev libssl-dev \
            automake libltdl-dev \
            build-essential python3-dev libjpeg-dev
          # 设置 JAVA_HOME
          echo "JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64" >> $GITHUB_ENV

      - name: Install buildozer and Cython
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.36  # 指定 Cython 版本

      - name: Cache buildozer
        uses: actions/cache@v3
        with:
          path: ~/.buildozer
          key: ${{ runner.os }}-buildozer-${{ hashFiles('buildozer.spec') }}

      # 清理缓存，确保全新构建
      - name: Clean buildozer cache
        run: rm -rf ~/.buildozer

      - name: Decode keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > keystore.jks
          echo "KEYSTORE_FILE=$(pwd)/keystore.jks" >> $GITHUB_ENV

      - name: Set signature environment variables
        run: |
          echo "KEYSTORE_ALIAS=${{ secrets.KEY_ALIAS }}" >> $GITHUB_ENV
          echo "KEYSTORE_PASS=${{ secrets.KEY_PASSWORD }}" >> $GITHUB_ENV
          echo "KEYALIAS_PASS=${{ secrets.KEY_PASSWORD }}" >> $GITHUB_ENV

      - name: Verify keystore
        run: ls -l keystore.jks

      - name: Build with buildozer
        run: yes | buildozer android ${{ github.event.inputs.build_type }}

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: signed-apk-${{ github.event.inputs.build_type }}
          path: bin/*.apk
