name: Build Kivy APK

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer cython
      - name: Cache buildozer
        uses: actions/cache@v3
        with:
          path: ~/.buildozer
          key: ${{ runner.os }}-buildozer-${{ hashFiles('buildozer.spec') }}
      
       # 解码 keystore（需配置 Secrets）
      - name: Decode keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > keystore.jks
          echo "KEYSTORE_FILE=$(pwd)/keystore.jks" >> $GITHUB_ENV

      - name: Set signature environment variables
        run: |
          echo "KEYSTORE_ALIAS=${{ secrets.KEY_ALIAS }}" >> $GITHUB_ENV
          echo "KEYSTORE_PASS=${{ secrets.KEY_PASSWORD }}" >> $GITHUB_ENV
          echo "KEYALIAS_PASS=${{ secrets.KEY_PASSWORD }}" >> $GITHUB_ENV

      - name: Verify keystore
        run: ls -l keystore.jks

      - name: Build with buildozer
        run: yes | buildozer android release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: signed-apk
          path: bin/*.apk
 
